:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #6d6919;
  --color-dark: #9bb832;
  --color-bg: #c98763;

  /* Fonts */
  --font-roboto: "Roboto";
}
